/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    opacity: 0;
    width: 160px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    opacity: 1;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.popup .fade {
    opacity: 0;
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
    }


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {transform: scale(.5);}
    to{transform:scale(1);}
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {transform: scale(.5);}
    to{transform:scale(1);}
    from {opacity: 0;} 
    to {opacity: 1;}
}
@-webkit-keyframes fadeOut {
    from {transform: scale(1);}
    to{transform:scale(.5);}
    from {opacity: 1;} 
    to {opacity: .5;}
}

@keyframes fadeOut {

    from {transform: scale(1);}
    to{transform:scale(.5);}
    from {opacity: 1;} 
    to {opacity: 0;}
}
/* end of popup */



/* Start of more info bar related stuff */
.moreInfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.moreInfo .text {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.moreInfo .text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.moreInfo .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 