/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    opacity: 0;
    width: 160px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    opacity: 1;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.popup .fade {
    opacity: 0;
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
    }


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {transform: scale(.5);}
    to{transform:scale(1);}
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {transform: scale(.5);}
    to{transform:scale(1);}
    from {opacity: 0;} 
    to {opacity: 1;}
}
@-webkit-keyframes fadeOut {
    from {transform: scale(1);}
    to{transform:scale(.5);}
    from {opacity: 1;} 
    to {opacity: .5;}
}

@keyframes fadeOut {

    from {transform: scale(1);}
    to{transform:scale(.5);}
    from {opacity: 1;} 
    to {opacity: 0;}
}
/* end of popup */



/* Start of more info bar related stuff */
.moreInfo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.moreInfo .text {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.moreInfo .text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.moreInfo .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} 

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info Windows</title>
    <style type="text/css">
#submit {
  background-color: gold;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: white;
  font-family: 'Oswald';
  font-size: 13px;
  text-decoration: none;
  border: none;
  width: 100px;
}

</style>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });

        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 250
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSacD24q7YLnP1HeFxUZXz-EMwreAxJf8&callback=initMap">
    </script>
  </body>
</html>

<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.7/firebase-database.js"></script>

